
.bb-pagination{
	padding: 16px 0;
	margin: 0 auto;
	text-align: center;
	li{
		display: inline-block;
		cursor: pointer;
		margin: 0 8px;
		font-weight: bold;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		text-align: center;
	}
	li.active{
		cursor: default;
		color: inherit;
		font-weight: normal;
		border: 2px solid black;
	}
}