.bb-ads-skinner{
  .center-container{
    margin: 0 auto;
    min-width: 1024px;
    flex: 1;
  }
  &.no-show{
    .center-container{
      max-width: unset;
    }
  }
  .skinner-item{
    position: sticky;
    top: 48px;
    flex: 1;
    height: 100vh;
    &.left{
      text-align: right;
    }
    &.right{
      .bb-media-image{
        img{
          left: 0
        }
      }
    }
    .bb-media-image{
      height: 100vh;
      width: 100%;
      overflow: hidden;
      img{
        position: absolute;
        object-fit: unset;
        width: auto;
        height: auto;
        right: 0;
      }
    }
  }
}

@media screen and(max-width: 1264px){
  .bb-ads-skinner{
    .skinner-item{
      display: none;
    }
    .center-container{
      min-width: unset;
    }
  }
}