.bb-content-about{
  .team-item{
    margin: 8px 8px 24px 8px;
    .photo{
      padding: 12px;
      border: thin solid #999;
      border-radius: 8px;
    }
    .info{
      text-align: center;
      font-size: 16px;
      line-height: 18px;
      .name{
        font-weight: 600;
      }
    }
  }
  .contact-us{
    h2{
      font-size: 24px;
      margin-bottom: 2px;
    }
    p, h2{
      font-style: italic;
    }
  }
}