$height: 500px;
$thumbHeight: 90px;
$overlayBackgroundColor: rgba(0,0,0,.24);
.bb-headline-gallery{
  .thumb-container{
    position: relative;
    margin-top: ($thumbHeight * -1) - 8 ;
    bottom: 8px;
    z-index: 1;
    background: $overlayBackgroundColor;
    padding: 8px 0;
    > div {
      position: relative;
      .swiper-thumb-item{
        cursor: pointer;
        img{
          width: 100%;
          height: $thumbHeight;
        }
      }
    }
  }
  .swiper-item{
    position: relative;
    img{
      width: 100%;
      height: $height;
    }
    .body{
      position: absolute;
      background: $overlayBackgroundColor;
      width: 100%;
      height: auto;
      padding: 24px;
      bottom: $thumbHeight + 16;
      > *{
        color: white !important;
      }
      h1{
        color: white;
        font-weight: 600;
      }
    }
    .control{
      position: absolute;
      button{
        opacity:1;
        position: relative;
        color: white;
        background: transparent;
        &:hover{
          opacity: 1;
        }
        &:before{
          content:'';
          width: 48px;
          height: $height;
          position: absolute;
          background: blue;
          left: 0;
          top: 0;
        }
      }
      z-index: 2;
      &.left{
        left:24px;
      }
      &.right{
        right:24px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .bb-headline-gallery{
    .swiper-item{
      img{
        height: 200px;
      }
    }
    .thumb-container{
      margin-top: -64px;
      .swiper-thumb-item{
        img{
          height: 48px !important;
        }
      }
    }
    .body{
      display: none;
    }
  }
}