$diameter:25px;
.bb-social-media{
  .item{
    width: $diameter;
    height: $diameter;
    border-radius: $diameter;
    border: 2px solid white;
    position: relative;
    margin: 0 2px;
    *{
      color: white;
      margin: 0 !important;
    }
  }
  &.medium{
    .item{
      width: 34px;
      height: 34px;
      margin: 0 8px;
      i{
        font-size: 16px;
      }
    }
  }
}