.bb-headline-event{
  .header{
    text-transform: uppercase;
    font-size: 1.2em;
    > div:first-child {
      height: 48px;
    }
    button{
      border: none;
      margin-left: 8px;
      background: transparent !important;
    }
  }
  .red-line{
    width: 56px;
    height: 6px;
  }
  .ant-row-flex{
    margin: 24px 0;
    .event-item{
      border-left: thin solid rgba(0,0,0,.1);
      height: 140px;
      display: flex;
      align-items: center;
      .date{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 2px solid #e6e6e6;
        color: #e6e6e6;
        font-size: 2.4em;
        margin-left: 16px;
        margin-right: 48px;
        flex: none;
      }
      .description{
        color: #aaa;
        padding-right: 16px; 
        flex: 1;
        line-height: 16px;
        position: relative;
        &:before{
          content: '';
          width: 4px;
          height: 4px;
          background: #888;
          border-radius: 4px;
          position: absolute;
          left: -16px;
          top: 6px;
        }
      }
    }
    > div:first-child{
      .event-item{
        font-size: 36px;
        border-left: none;
        font-weight: 500;
      }
    }
  }
}

@media screen and(max-width: 768px){
  .bb-headline-event{
    .ant-row-flex{
      > div:first-child{
        .event-item{
          font-size: 24px;
        }
      }
    }
  }
}