.bb-topnav{
  height: 40px;
  color: white;
  ul{
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      margin: 0 8px;
      i {
        margin-right: 4px
      }
    }
  }
  a{
    color: white;
    &:hover{
      color: white;
    }
  }
}

@media screen and (max-width: 768px){
  .bb-topnav{
    font-size: .8em;
    .social-media{
      display: none;
    }
  }
}