.bb-ads-leaderboard{
  .ads-container{
    position: relative;
    width: 100%;
    display: block;
    padding: 16px 0;
    text-align: center;
  }
  ins{
    position: relative;
    display: block;
    text-align: center;
  }
}