.bb-ads-billboard{
  .bb-media-image{
    height: 250px;
    margin: 16px 0;
  }
  .ads-container{
    position: relative;
    width: 100%;
    display: block;
    padding: 16px 0;
    text-align: center;
  }
}

@media screen and (max-width: 1004px){
  .bb-ads-billboard{
    .bb-media-image{
      height: auto !important;
      width: 100%;
    }
  }
}