.bb-oauth2{
  text-align: center;
  margin: 24px 0;
  button{
    border-radius: 50%;
    width: 42px !important;
    height: 42px;
    color: white;
    font-size: 1.2em;
    padding: 0;
    margin: 0 2px;
    &.facebook{
      background: #4267b2;
    }
    &.google{
      background: #dd4b39;
    }
  }
}