$height: 300px;
.bb-article-details{
  .content{
    width: 100%;
    background: white;
    padding: 24px;
    h1{
      font-weight: 600;
      font-size: 2.6em !important;
      line-height: 1.2em;
    }
    .body{
      line-height: 1.5em;
      word-wrap: break-word;
      font-size: 1.2em;
      color: #323232;
      position: relative;
      img{
        width: 100%;
        max-width: 660px;
        margin: 0 auto;
        display: block;
      }
      a{
        color: unset !important;
        &:hover{
          color: unset !important;
        }
      }
    }
  }
  .article-nav{
    width: 100%;
    color: #696968;
    > button{
      background: transparent;
      > span{
        margin: 0 4px;
      }
    }
  }
  .control{
    position: absolute;
    button{
      opacity:0;
      position: relative;
      &:hover{
        opacity: 1;
      }
      &:before{
        content:'';
        width: 48px;
        height: $height;
        position: absolute;
        background: blue;
        left: 0;
        top: 0;
      }
    }
    z-index: 2;
    &.left{
      left:24px;
    }
    &.right{
      right:24px;
    }
  }
}

@media screen and(max-width:768px){
  .bb-article-details{
    .content{
      padding:16px;
      h1{
        font-size:1.4em !important;
      }
    }
    .editor-picks{
      margin-left: 0 !important;
    }
    .bb-article-details-footer{
      .bb-article-actions{
        width: 100%;
        justify-content: flex-end;
      }
    }
  }
}