$height: 90px;
$actions-height: 40px;

.bb-appbar{
  .gn-container{
    min-height: $height;
    position: relative;
    > * {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .brands{
    position: relative;
    display: inline;
    .badges{
      position: absolute;
      border-radius: 24px;
      padding: 1px 10px;
      font-size: 10px;
      right: -56px;
      top: -16px;
    }
  }

  .searchbar{
    text-align: right;
    position: relative;
    &.sm{
      padding-top: 16px;
    }
    input{
      height: $actions-height;
    }
    button{
      height: $actions-height;
    }
  }
  .btn-write{
    height: $actions-height;
    padding-left: 24px;
    padding-right: 24px;
    font-size: .84em;
    font-weight: 600;
    &.sm{
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .profile{
    margin-left:4px;
    a {
      font-size: .9em;
      font-weight: bold;
      margin: 0 4px;
    }
    button{
      height: $actions-height;
    }
    .avatar{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 48px;
    }
  }
}
.ant-dropdown-menu-item:hover{
  background: #eee !important;
}
.menu-profile-item{
  font-size: 1em;
  padding: 8px 16px;
  color: #928e8e;
  border-bottom: thin solid black;
  &.no-border{
    border-bottom: none;
  }
  i{
    margin-right: 8px;
  }
}

@media screen and (max-width: 768px){
  .bb-appbar{
    .brands{
      img{
        height: 42px;
      }
    }
    .profile{
      .avatar{
        margin-left: 0 !important; 
        width: 40px;
        height: 40px;
      }
    }
    button{width: 32px; height: 32px !important; padding: 0 !important}
    .searchbar{
      input{height: 32px}
    }
  }
}


@media screen and (max-width: 576px){
  .bb-appbar{
    .gn-container{
      min-height: 70px;
    }
    .brands{
      img{
        height: 28px;
      }
      .badges{
        font-size: 8px;
        right: -48px;
        top: -8px;
      }
    }
    .profile{
      .avatar{
        margin-left: 4px !important; 
        width: 32px;
        height: 32px;
      }
    }
  }
}