.bb-headline-events{
  .event{
    h2{
      font-weight: 500;
    }
    img{
      width: 320px;
      height: 175px;
      object-fit: cover;
    }
    .body{
      background: white;
      font-size: .84em;
      ul.info{
        margin: 0;
        padding: 0;
        color: black;
        li{
          list-style: none;
          font-size: 1.1em;
          font-weight: 500;
          margin-bottom: 8px;
          span.small{
            font-size: .8em;
          }
          i{
            font-size: 1.4em;
            width: 32px;
          }
        }
      }
    }
  }
}