.bb-article-list{
  .content-container{
    .bb-article-card{
      padding: 0 16px 16px 0;
    }
    &.vertical{
      .bb-article-card{
        padding: 0;
        .bb-article-card:last-child{
          margin-bottom: 0;
        }
      }
      .col{
        margin-bottom: 16px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width:768px){
  .bb-article-list{
    padding-right: 0 !important;
    .bb-article-card{
      padding-right: 0 !important;
    }
  }
}