.bb-login-panel{
  position: absolute;
  width: 380px;
  bottom: 10%;
  right: 10%;
  .ant-card{
    border-radius: 12px;
    padding: 0 24px;
    .brand{
      text-align: center;
      img{max-width: 60px;}
      margin-bottom: 24px;
    }
    form{
      .icon{ 
        padding: 0 8px;
        color: #888;
      }
      input{
        height: 48px;
        padding-left: 48px !important;
        margin: 10px 0;
      }
      .action{
        button{
          height: 40px;
          border-radius: 40px;
          font-size: 1.2em;
          padding: 0 48px;
          font-weight: 400;
        }
      }
    }
    .misc{
      text-align: center;
      font-size: .9em;
      color: #888;
      a{
        color: #222
      }
    }
  }
}

@media screen and (max-width: 768px){
  .bb-login-panel{
    position: relative;
    bottom: unset;
    right: unset;
  }
}