.bb-article-author{
  font-size: .9em;
  font-weight: 500;
  position: relative;
  padding: 12px 0 8px 0;
  color: black;
  .line{
    position: absolute;
    width: 14px;
    height: 7px;
    top: 0;
    left: 0;
  }
}