$menu-text-color:white;
$primary-color: #eb0029;
$main-height:48px;

.bb-navbar{
  height: $main-height;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  .logo{
    cursor: pointer;
    img{
      height: 24px;
    }
  }
  .logo-container{
    flex: unset;
  }
  .btn-collapse-menu{
    display: none;
    background: transparent !important;
    color: white !important;
    border: none;
    font-size: 16px;
    height: $main-height;
  }
  .mobile{display: none;}
  .ant-menu{
    background: inherit;
    &.desktop{
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        display: inline-block;
        flex: none;
      }
    }
    > * {
      background: $primary-color !important;
      font-family: inherit !important;
    }
    li {
      background: inherit !important;
      text-transform: uppercase;
      font-size: .9em;
      font-weight: 600;
      color:$menu-text-color !important;
      a {
        color:$menu-text-color !important;        
        * {
          font-weight: 600;
        }
      }
    }
    .ant-menu-item, .ant-menu-submenu-title{
      padding: 0 8px;
      .font-secondary{
        font-weight: 600;
      }
    }
    .ant-menu-submenu-title{
      span{
        font-weight: 600 !important;
        font-size: 1.04em;
        font-family: 'Neosans', sans-serif !important;
      }
      i{
        color: white !important;
        top: -2px;
        position: relative;
      }
    }
  }
}

.bb-navbar-menu-sub{
  ul{
    background: inherit !important;
    li{
      background: inherit !important;
      color: $menu-text-color;
      margin: 0 !important;
      &:hover{
        border-bottom: 2px solid white;
      }
    }
  }
  a{
    color:inherit !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px !important;
    width: 100%;
    &:hover{
      color: inherit !important;
    }
  }
}

@media screen and (max-width:1004px){
  .bb-navbar{
    height: auto;
    max-height: 1000px;
    .logo-container{
      flex: 1;
      width: 100% !important;
    }
    .btn-collapse-menu{
      display: inline;
    }
    .gn-container{
      flex-direction: column !important;
      align-items: flex-end !important;
      justify-content: space-between;
    }

    .desktop{display: none !important}
    .mobile{display: inline !important}
    .ant-menu{
      li{
        margin-bottom: 0 !important;
      }
    }
    .ant-menu-dark .ant-menu-inline.ant-menu-sub{
      box-shadow: none;
    }
    .bb-social-media{
      padding: 16px 0;
      display: none;
      &.show{
        display: flex;
      }
    }
  }
}