@font-face {
  font-family: DINPro;
  src: url(../font/DINPRO-REGULAR.TTF);
  font-weight: normal;
}
@font-face {
  font-family: DINPro;
  src: url(../font/DINPRO-BOLD.TTF);
  font-weight: bold;
}
@font-face {
  font-family: Neosans;
  src: url(../font/NEOSANS.OTF);
  font-weight: normal;
}
@font-face {
  font-family: Neosans;
  src: url(../font/NEOSANS-MEDIUM.OTF);
  font-weight: 500;
}
@font-face {
  font-family: Neosans-Medium;
  src: url(../font/NEOSANS-MEDIUM.OTF);
  font-weight: normal;
}
@font-face {
  font-family: Neosans;
  src: url(../font/NEOSANS-BOLD.OTF);
  font-weight: bold;
}

html, body {
  font-family: 'DINPro', sans-serif;
  font-weight: 400;
  color: #051d49 !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.font-primary{font-family: 'DINPro', sans-serif !important}
.font-secondary, button > span {font-family: 'Neosans', sans-serif !important}
button > span { 
  font-size: .9em;
  font-weight: 500;
}
.font-secondary-medium{
  font-family: 'Neosans-Medium', sans-serif !important
}

.root{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.title-bordered{
  font-size: 1.8em;
  position: relative;
  padding-bottom: 8px;
  margin: 0;
  position: relative;
}
.title-bordered:after{
  content:'';
  height: 6px;
  width: 64px;
  background-color: #eb0029;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.bg-login{
  background-image: url(/static/images/login-bg.jpg);
  width: 100wh;
  height: 100vh;
  background-size: cover;
}

.ant-calendar-prev-month-btn:before { content: "<";}
.ant-calendar-next-month-btn:before { content: ">";}
.ant-radio-checked .ant-radio-inner:after{
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #051d49;
}

.no-results{
  color: #6a6a6a;
}

body > ins {
  display: block;
  background: #051d49;
  text-align: center;
}

body > ins img{
  width: 100vw;
  height: auto;
  max-width: 1024px;
  margin: 0 auto;
}