@font-face 
  font-family: DINPro
  src: url(../font/DINPRO-REGULAR.TTF)
  font-weight: normal

@font-face 
  font-family: DINPro
  src: url(../font/DINPRO-BOLD.TTF)
  font-weight: bold

*
  font-family: 'DINPro', sans-serif
  font-weight: 400
