$def-height: 40px;
.bb-search-panel{
  h2{
    font-weight: 600;
    margin-bottom: 0;
    font-size: 2em;
    line-height: 1.6em;
  }
  .keyword-field{
    display: flex;
    flex: 1;
    >div:first-child{
      flex: 1
    }
    input{
      height: $def-height;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
    button{
      height: $def-height;
      background-color: #f5f7fa;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      font-size: 12px;
      color: #aaa;
      width: 56px;
    }
  }
  .toggle-option{
    cursor: pointer;
    span{
      font-weight: 600;
    }
    i{
      font-size: 10px;
      margin-left: 8px;
    }
  }
  .options{
    background: white;
    border: 2px solid #051d49;
    .alert{
      background: #bfe2f5;
      padding: 16px;
      font-size: 1.1em;
    }
    .field{
      display: flex;
      margin-right: 24px;
      align-items: center;
      ant-input{
        height: 40px;
      }
      label{
        font-size: 1.2em !important;
        font-weight: 600;
        margin-right: 16px;
      }
    }
    .actions{
      text-align: right;
      margin-top: 24px;
      button{
        margin-left: 8px;
        height: 40px;
      }
    }
    .ant-calendar-prev-month-btn{
      &:before{
        content:'<'
      }
    }
  }
}