.event-details{
  background: #e6e6e6;
  img{
    width: 300px;
    height: auto;
  }
  ul.info{
    margin: 0;
    padding: 0;
    color: black;
    li{
      list-style: none;
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: 8px;
      span.small{
        font-size: .8em;
      }
      i{
        font-size: 1.4em;
        width: 32px;
      }
    }
  }
}