.bb-headline-video{
  position: relative;
  .video-item{
    height: 565px;
  }
  .body{
    position: absolute;
    top: 24%;
    left: 48px;
    h1{
      font-size: 2.5vw;
    }
    *{
      color: white;
    }
  }
  .label{
    padding: 6px 24px 4px 24px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    &.large{
      font-size: 1.6em;
      top: 24px;
      left: 24px;
    }
  }
}

@media screen and (max-width: 768px){
  .bb-headline-video{
    .video-item{
      height: 200px;
    }
  }
}