.bb-guidelines-content{
  h1{
    font-size: 2.4em;
    font-weight: bold;
  }
  h3{
    font-weight: bold;
    font-size: 1.2em;
  }
  p, ul, li{
    font-size: 16px;
    line-height: 1.3em;
    color: black;
  }
  > ul {
    list-style-type: lower-alpha;
    > li > ul {
      list-style-type: decimal;
    }
  }
  li{
    margin-bottom: 12px;
  }
}