.bb-article-details-footer{
  border-top: thin solid black;
  padding-top: 24px;
  margin-top: 48px;
  color: #888;
  .editor-info{
    img{
      border-radius: 50%;
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }
  .actions{
    color: #666;
    button{
      width: 28px;
      height: 28px;
      border-width: 2px;
      border-color: #666;
      margin: 0 2px;
      &:first-child{
        border: none;
        font-size: 24px;
        display: flex;
        align-items: center;
      }
    }
  }
}