.bb-article-actions{
  &.expanded{
    button{
      font-size: 24px;
      height: 36px;
    }
  }
  button{
    border: none;
    font-size: 20px;
    .liked{
      color: #f35858;
    }
  }
  .expand{
    color: #666;
    button{
      width: 24px;
      height: 24px;
      border-style: solid; 
      border-width: 2px;
      border-color: #666;
      margin: 0 2px;
      font-size: 14px;
    }
  }
  .more{
    border: none !important;
  }
}