.bb-ads-center{
  padding-right: 32px;
  width: 100%;
  .bb-media-image{
    background: transparent;
    max-width: 650px;
    width: 100%;
    height: 90px;
  }
  .ads-container{
    position: relative;
    width: 100%;
    display: block;
    padding: 16px 0;
  }
}

@media screen and (max-width: 1024px){
  .bb-ads-center{
    .bb-media-image{
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px){
  .bb-ads-center{
    padding-right: 0;
  }
}
