.bb-footbar{
  background: #1a1a1a;
  color:#666;
  font-size:.7em;
  padding: 16px 0;
  li{
    display: inline-block;
    padding: 0 8px;
    position: relative;
    margin: 0;
    &:after{
      content: '|';
      position: absolute;
      right: -2px;
    }
    &:last-child:after{
      display: none;
    }

    a{
      color: inherit;
    } 
  } 
}