.bb-content-panel{
  .title{
    font-size: 1.08em;
    font-weight: 500;
    text-transform: uppercase;
  }
  .footer{
    font-size: .8em;
    padding: 8px 0;
    div{
     display: flex; 
     width: 100%;
     align-items: center;
    }
    div:before{
      content:'';
      flex: 1;
      height: 1px;
      background: #ddd;
      margin-right: 8px;
    }  
    a{
      color: #888;
    }
  }
  .content{
    &.bordered{
      padding: 16px;
      border: thin solid rgba(0,0,0,0.1);
    }
  }
}