.bb-article-details-comment-list{
  .comment-item{
    font-size: 1.1em;
    border-bottom: thin solid rgba(0,0,0,.2);
    padding: 24px 0;
    .user-info{
      .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right:24px;
      }
      .date{
        color: #928e8e;
      }
    }
  }
  .pagination-container{
    text-align: center;
    .ant-pagination-item{
      background-color: transparent !important;
      border-radius: 50%;
      border-width: 2px;
      border-color: transparent;
    }
    .ant-pagination-item-active{
      border-color: black;
    }
  }
}

@media screen and (max-width: 768px){
  .bb-article-details-comment-list{
    .gn-container{
      > div{
        padding: 24px;
        padding-top: 0;
      }
    }
  }
}