.bb-headline-category{
  padding: 24px 0;
  .control{
    position: absolute;
    top: 48px;
    &.right{right: 0px}
    &.left{left: 0px}
  }
  .swiper-block{
    padding: 0 48px;
    .swiper-slide{
      width: 80%;
      &:nth-child(2n) {
        width: 60%;
      }
      &:nth-child(3n) {
        width: 40%;
      }
    }
    .swiper-item{
      img{
        height: 140px;
        width: 100%;
        object-fit: cover; 
      }
      .label{
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 6px 8px 4px 8px;
        font-size: .8em;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .bb-headline-category{
    .control{
      display: none;
    }
    .swiper-block{
      padding: 0;
    }
    .swiper-item{
      img{
        height: 92px !important;
      }
    }
  }
}