$height: 300px;
.bb-headline-article{
  .bb-article-author{
    padding-bottom: 0;
  }
  .swiper-container{
    width: 100%;
  }
  .swiper-item{
    position: relative;
    width: 100%;
    .image-container{
      width: 100%;
      height:  $height;
      .bb-media-image{
        width: 100%;
        height: 100%;
      }
    }
    .body{
      height: $height;
      width: 100%;
      background: white;
      padding: 16px;
      color: black;
      h1{
        font-family: 'Neosans', sans-serif;
        font-weight: 600;
        font-size: 1.8em;
        word-break: break-word;
        line-height: 1.2em;
      }
      p{
        font-size: 1em;
        line-height: 1.4em;
        word-wrap: break-word;
      }
      .info{
        font-size: .9em;
        font-weight: bold;
      }
    }
    .label{
      position: absolute;
      top: 16px;
      left: 16px;
      padding: 6px 8px 4px 8px;
      font-size: 1.1em;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .control{
    position: absolute;
    button{
      opacity:0;
      position: relative;
      &.show{
        opacity: 1;
      }
      &:hover{
        opacity: 1;
      }
      &:before{
        content:'';
        width: 48px;
        height: $height;
        position: absolute;
        background: blue;
        left: 0;
        top: 0;
      }
    }
    z-index: 2;
    &.left{
      left:24px;
    }
    &.right{
      right:24px;
    }
  }
}

@media screen and (max-width:768px){
  .bb-headline-article{
    height: auto;
    .swiper-item{
      .image-container{
        height: 192px;
      }
      .body{
        height: 260px;
        h1{
          font-size: 1.2em;
        }
        p{
          font-size:.9em;
          line-height: 1.2em;
        }
      }
      .content{
        display: block;
      }
    }
    //OVERIDE
    .swiper-container{
      position: relative;
    }
    .swiper-pagination{
      width: 100%;
      bottom: 16px;
    }
    .swiper-pagination-bullet{
      margin: 0 3px;
      opacity: 0.64;
    }
  }
}