.bb-footnav{
  background:#333;
  padding: 24px 0;
  color: #fefefe;
  text-align: center;
  .bb-social-media{
    justify-content: center;
  }
  li{
    display: inline-block;
    margin: 0 8px;
    font-size: .7em;
    text-transform: uppercase;
    a{
      color: inherit;
    }
  }
}