$inputHeight: 36px;
.bb-subscribe-panel{
  .label{
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    flex: none;
    i{
      font-size: 28px;
    }
    span:last-child{
      color: #051d49;
      font-weight: 600;
    }
    *{
      margin-right: 6px;
    }
  }
  form{
    flex: 1;
    margin-left: $inputHeight;
    input{
      height: $inputHeight;
      margin-right: 16px;
    }
    button{
      height: $inputHeight;
    }
  }
}

@media screen and (max-width: 768px){
  .bb-subscribe-panel{
    form{
      margin-left: 0;
      margin-top: 24px;
      > div > *{
        margin-bottom: 16px;
      }
    }
  }
}