.bb-article-card{
  position: relative;
  width: 100%;
  .ant-card-body{
    padding: 16px;
    flex: 1;
  }
  .bb-media-image{
    img{
      height: 180px;
    }
  }
  &.normal{
    .ant-card{
      height: 340px !important;
      display: flex;
      flex-direction: column;
    }
  }
  h3{
    font-weight: bold;
    font-size: 1.04em;
    cursor: pointer;
  }
  &.vertical{
    .bb-media-image{
      img{
        height: 80px;
      }
      .label{display: none}
    }
    .ant-card-body{
      padding: 0;
      position: relative;
    }
    h3{
      font-size: .86em;
      font-weight: 500;
    }
    .bb-article-author{
      font-size: .7em;
    }
  }
  .bb-article-author{
    padding-bottom: 0;
  }
}