.bb-media-image{
  background: #fafafa;
  position: relative;
  min-height: 48px;
  .default{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    font-size: 32px;
    color: #aaa;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .label{
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 6px 8px 4px 8px;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 600;
    &.large{
      font-size: 1.6em;
      top: 24px;
      left: 24px;
    }
  }
  .play-control{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    i{
      font-size:48px;
      z-index: 1;
    }
    &:before{
      content: '';
      background: transparent;
      width: 24px;
      height: 24px;
      position: absolute;
    }
    &:hover{
      i{
        color: red;
      }
      &:before{
        background: white;
      }
    }
    
  }
}

@media screen and(max-width: 768px){
  .bb-media-image{
    .label{
      &.large{
        font-size: 1em;
        top: 16px;
        left: 16px;
      }
    }
  }
}