@import "~antd/dist/antd.less";
@import "~react-id-swiper/src/styles/less/swiper.less";
@import "./var.less";

.gn-container{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  .no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// LAYOUT
.gn-layout {
  display: flex;
  justify-content: flex-start;
  &.column {
    flex-direction: column;
    >.flex {
      height: 1px
    }
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-arround {
    justify-content: space-around;
  }
  &.justify-right, &.justify-end {
    justify-content: flex-end;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center
  }
  &.align-start {
    align-items: flex-start
  }
  &.wrap {
    flex-wrap: wrap
  }
  &.fill {
    width: 100%;
    height: 100%;
  }
}

.gn-flex {flex: 1;}
.gn-flex-none {flex: none;}

.gn-layout-fill {
  width: 100%;
  height: 100%;
}

.gn-full {
  &.width {
    width: 100%;
  }
  &.height {
    height: 100%;
  }
}

// PADDING & MARGIN
.gn-padding-XS{
  &.padding-all{padding: @padding-XS}
  &.padding-left{padding-left: @padding-XS}
  &.padding-right{padding-right: @padding-XS}
  &.padding-top{padding-top: @padding-XS}
  &.padding-bottom{padding-bottom: @padding-XS}
}

.gn-padding-S{
  &.padding-all{padding: @padding-S}
  &.padding-left{padding-left: @padding-S}
  &.padding-right{padding-right: @padding-S}
  &.padding-top{padding-top: @padding-S}
  &.padding-bottom{padding-bottom: @padding-S}
}

.gn-padding-N{
  &.padding-all{padding: @padding-N}
  &.padding-left{padding-left: @padding-N}
  &.padding-right{padding-right: @padding-N}
  &.padding-top{padding-top: @padding-N}
  &.padding-bottom{padding-bottom: @padding-N}
}

.gn-padding-M{
  &.padding-all{padding: @padding-M}
  &.padding-left{padding-left: @padding-M}
  &.padding-right{padding-right: @padding-M}
  &.padding-top{padding-top: @padding-M}
  &.padding-bottom{padding-bottom: @padding-M}
}

.gn-padding-L{
  &.padding-all{padding: @padding-L}
  &.padding-left{padding-left: @padding-L}
  &.padding-right{padding-right: @padding-L}
  &.padding-top{padding-top: @padding-L}
  &.padding-bottom{padding-bottom: @padding-L}
}

.gn-padding-XL{
  &.padding-all{padding: @padding-XL}
  &.padding-left{padding-left: @padding-XL}
  &.padding-right{padding-right: @padding-XL}
  &.padding-top{padding-top: @padding-XL}
  &.padding-bottom{padding-bottom: @padding-XL}
}

.gn-margin-XS{
  &.margin-all{margin: @margin-XS}
  &.margin-left{margin-left: @margin-XS}
  &.margin-right{margin-right: @margin-XS}
  &.margin-top{margin-top: @margin-XS}
  &.margin-bottom{margin-bottom: @margin-XS}
}

.gn-margin-S{
  &.margin-all{margin: @margin-S}
  &.margin-left{margin-left: @margin-S}
  &.margin-right{margin-right: @margin-S}
  &.margin-top{margin-top: @margin-S}
  &.margin-bottom{margin-bottom: @margin-S}
}

.gn-margin-N{
  &.margin-all{margin: @margin-N}
  &.margin-left{margin-left: @margin-N}
  &.margin-right{margin-right: @margin-N}
  &.margin-top{margin-top: @margin-N}
  &.margin-bottom{margin-bottom: @margin-N}
}

.gn-margin-M{
  &.margin-all{margin: @margin-M}
  &.margin-left{margin-left: @margin-M}
  &.margin-right{margin-right: @margin-M}
  &.margin-top{margin-top: @margin-M}
  &.margin-bottom{margin-bottom: @margin-M}
}

.gn-margin-L{
  &.margin-all{margin: @margin-L}
  &.margin-left{margin-left: @margin-L}
  &.margin-right{margin-right: @margin-L}
  &.margin-top{margin-top: @margin-L}
  &.margin-bottom{margin-bottom: @margin-L}
}

.gn-margin-XL{
  &.margin-all{margin: @margin-XL}
  &.margin-left{margin-left: @margin-XL}
  &.margin-right{margin-right: @margin-XL}
  &.margin-top{margin-top: @margin-XL}
  &.margin-bottom{margin-bottom: @margin-XL}
}

.gn-fit-viewport{
  &.width{width: 100vw}
  &.height{height: 100vh}
}

.gn-full{
  &.width{width: 100%}
  &.height{height: 100%}
}

// COLOR
.gn-primary-color{
  color: @primary-color;
}
.gn-secondary-color{
  color: @secondary-color;
}
.gn-primary-background{
  background: @primary-color !important;
  color: white;
}
.gn-secondary-background{
  background:  @secondary-color !important;
  color: white;
}
.gn-grey-background{
  background: @grey-color !important;
}

.gn-mobile-only{
  display: none;
}

//OVERIDE
.swiper-container{
  position: unset;
}
.swiper-pagination{
  position: absolute;
  width: 100%;
  bottom: 24px;
}
.swiper-pagination-bullet{
  margin: 0 3px;
  opacity: 0.64;
}


@media screen and (max-width: 768px){
  .gn-mobile-only{
    display: block
  }
  .gn-layout{
    &.column-sm{flex-direction: column}
    &.column-sm-reverse{flex-direction: column-reverse}
    &.row-sm{flex-direction: row}
    &.row-sm-reverse{flex-direction: row-reverse}
    &.align-start-sm{align-items: flex-start}
    &.align-center-sm{align-items: center}
    &.align-end-sm{align-items: flex-end}
  }
}

@media screen and (max-width: 1024px){
  .gn-container{
    padding-left: 16px;
    padding-right: 16px;
    width: 100vw;
    margin: 'unset';
  }
}