@padding-XS: 4px;
@padding-S: 8px;
@padding-N: 16px;
@padding-M: 24px;
@padding-L: 32px;
@padding-XL: 48px;

@margin-XS: 4px;
@margin-S: 8px;
@margin-N: 16px;
@margin-M: 24px;
@margin-L: 32px;
@margin-XL: 48px;

@primary-color:  #051d49;
@secondary-color: #eb0029;
@color-on-primary: #072a6b;
@color-on-secondary: white;

@grey-color: #e6e6e6;