.bb-article-details-comment-box{
  .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right:24px;
  }
  form{
    flex: 1;
    textarea{
      width: 100%;
    }
    .action{
      text-align: right;
      button{
        height: 40px; 
        width: 120px;
        right: 0;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .bb-article-details-comment-box{
    padding: 12px !important;
    .avatar{
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
    form{
      .action{
        button{
          width: 72px;
          height: 32px;
        }
      }
    }
  }
}