.bb-ads-medium{
    image{
      width: 336px;
    }
    ins{
        img {
            max-width: 336px;
            max-height: 280px;
        }
    }
  }
  
  @media screen and (max-width: 336px){
    .bb-ads-medium{
      .bb-media-image{
        height: auto !important;
        width: 100%;
      }
    }
  }