$primary-color: #051d49;
$secondary-color: #eb0029;

.bb-calendar{
  background-color: white;
  .control{
    width: 100%;
    text-align: right;
    .current-date{
      font-size: 1.1em;
      font-weight: 500;
    }
    button{
      border: none;
    }
  }

  .calendar-table{
    width: 100%;
    td, th{
      text-align: center;
      font-size: 1rem;
      font-weight: 400;
    }
    .date{
      font-size: 1.3em !important;
      margin: 4px 0;
      padding: 0;
      display: inline-block;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      &.today{
        border: thin solid #bbb;
      }
      &.has-event{
        border: 2px solid $primary-color;
        cursor: pointer;
      }
      &.selected{
        background: $secondary-color;
        color: white;
      }
    }
  }
  
  .events{
    border-top: thin solid #ddd;
    .event-panel{
      background: #e6e6e6;
      .title{
        color: $secondary-color;
        font-weight: 500;
        font-size: 1.4em;
      }
      .panel-header{
        img{
          width: 300px;
          height: 92px;
          object-fit: cover;
        }
      }
      .event-details{
        background: #e6e6e6;
        img{
          width: 300px;
          height: auto;
        }
        ul.info{
          margin: 0;
          padding: 0;
          color: black;
          li{
            list-style: none;
            font-size: 1.1em;
            font-weight: 500;
            margin-bottom: 8px;
            span.small{
              font-size: .8em;
            }
            i{
              font-size: 1.4em;
              width: 32px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .bb-calendar{
    padding: 16px !important;
    .event-panel{
      .title{
        display: none;
      }
      .panel-header{
        img{
          width: 100% !important;
        }
      }
      .event-details{
        .body{
          margin-left: 0;
        }
        .bb-media-image{
          margin-bottom: 16px;          
          img{
            width: 100% !important;
          }
        }
      }
    }
  }
}